{% extends "base.html" %}
{% block title %}Profile{% endblock title %}
{% load crispy_forms_tags %}
{% block main%}
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="{% url 'profile' %}">User Profile</a></li>
              <li class="breadcrumb-item"><a href="{% url 'logout' %}">Logout</a></li>
              <li class="breadcrumb-item"><a href="{% url 'edit' %}">User Details</a></li>
              <li class="breadcrumb-item"><a href="{% url 'changepassword' %}">Change Password</a></li>
            </ol>
          </nav>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{user.username}}</h5>
              <p class="text-muted mb-1">{{user.email}}</p>
              <div class="d-flex justify-content-center mb-2">
                <a href="{% url "logout" %}" class="btn btn-primary m-2">logout</a>
                <a href="{% url "edit" %}" class="btn btn-primary m-2">Edit Detail</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.first_name}} {{user.last_name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.email}}</p>
                </div>
              </div>
              <hr>
          <div class="row">
            <div class="col">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                  </p>
                  <p class="mb-1" style="font-size: .77rem;">
                    {% if request.user.is_authenticated %}
                
                   {% if  perms.BusinessApp.add_Library %}
                   <a href="" class="btn btn-primary">add Post</a>
                   {% else %}
                   <p>No permission to Edit Post</p>
                   {% endif %}
                  </p>
                  <p class="mb-1" style="font-size: .77rem;">
                    {% if  perms.BusinessApp.delete_Library %}
                    <a href="" class="btn btn-danger">delete Post</a>
                    {% else %}
                    <p>No permission to Edit Post</p>
                    {% endif %}
                   </p>
                   <p class="mb-1" style="font-size: .77rem;">
                    {% if  perms.BusinessApp.change_Library %}
                    <a href="" class="btn btn-info">change Post</a>
                    {% else %}
                    <p>No permission to Edit Post</p>
                    {% endif %}
                   </p>
                   <p class="mb-1" style="font-size: .77rem;">
                    {% if  perms.BusinessApp.view_Library %}
                    <a href="" class="btn btn-success">View Post</a>
                    {% else %}
                    <p>No permission to Edit Post</p>
                    {% endif %}

                    {% endif %}
                   </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock main %}