{% extends "base.html" %}
{% block title %}User Edit{% endblock title %}
{% load crispy_forms_tags %}
{% block main%}
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="{% url 'profile' %}">User Profile</a></li>
              <li class="breadcrumb-item"><a href="{% url 'logout' %}">Logout</a></li>
              <li class="breadcrumb-item"><a href="{% url 'edit' %}">User Details</a></li>
              <li class="breadcrumb-item"><a href="{% url 'changepassword' %}">Change Password</a></li>
            </ol>
          </nav>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">{{user.username}}</h5>
                <p class="text-muted mb-1">{{user.email}}</p>
                <div class="d-flex justify-content-center mb-2">
                  <a href="{% url "logout" %}" class="btn btn-primary m-2">logout</a>
                  <a href="{% url "edit" %}" class="btn btn-primary m-2">Edit Detail</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <form action="" method="post">
                    {% csrf_token %}
                    <p class="mb-0">{{form|crispy}}</p>
                    <input type="submit" value="Update Details" class="btn btn-warning">
                  </form>
                  {% if messages %}
                  <div class="alert alert-success mt-2" role="alert">
                  {% for m in messages  %}
                  {{m}}
                  </div>
                  {% endfor %}
                  {% endif %}
                </div>

              </div>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                  </p>
                  <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                  <div class="progress rounded mb-2" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock main %}