{% extends "base.html" %}
{% load static %}
{% block blogtitle %}Add Blog{% endblock blogtitle %}
{% block img %}background-image: url('{% static "assets/img/story-bg.jpg" %}'){% endblock img %}
{% block heading %}Please Add your Blog{% endblock heading %}
{% block section %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
            <div class="my-5">
                <form id="contactForm" method="POST" novalidate>
                    {% csrf_token %}
                    <div class="form-floating">
                        {{form.title}}
                        <label for="title">
                            {{form.title.label}}
                        </label>
                    </div>
                  <div class="form-floating">
                        <div>
                            {{form.des}}
                        </div>
                       
                    </div>
                    <br />
                    <div class="d-grid gap-2">
                        <input class="btn btn-success text-uppercase " type="submit" value="Add post">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock section %}
  



        