{% extends "base.html" %}
{% load static %}
{% block blogtitle %}Home Page{% endblock blogtitle %}
{% block img %}background-image: url('{% static "assets/img/contact-bg.jpg" %}'){% endblock img %}
{% block heading %}Clean Blog{% endblock heading %}
{% block headspan %}A Blog Theme by Start Bootstrap{% endblock headspan %}
{% block sectionhead %}Man must explore, and this is exploration at its greatest{% endblock sectionhead %}
{% block sectionpara %}Problems look mighty small from 150 miles up{% endblock sectionpara %}