{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Update{% endblock title %}
{% block main%}
<div class="container-fluid" style="background-color:white;">
  <div class="container pt-3" >
    <div class="alert alert-danger mt-4" role="alert">
      Please Update New Record 
  </div>
  </div>
    <div class="container p-4">
      <form action="" method="post" novalidate class='p-4'>
        {% csrf_token %}
        {{form|crispy}} 
        <div class="d-grid gap-2">
          <input class="btn btn-warning" type="submit" value="Submit">
        </div>
      </form>
      {% if messages %}
      <div class="alert alert-success mt-4" role="alert">
        {% for m in  messages %}
        {{m}}
        {% endfor %}
      </div>            
      {% endif %}
      <a href="{% url 'contactus' %}" class="btn btn-primary mx-3">Back to Home</a>
    </div>
</div>

{% endblock main %}