{% extends "base.html" %}
{% block title %}Dynamic{% endblock title %}
{% block main%}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div> Student id is: {{id}}</div>
                    <div> Student name is: {{n}}</div>
                    <div> Student Stack is: {{t}}</div>
                    <a href="{% url 'student' %}" class="btn btn-outline-danger">Back</a>
                </div>
            </div>
        </div>
      </div>
    
</div>
{% endblock main %}