{% extends "base.html" %}
{% block title %}Store{% endblock title %}
{% block main%}
{% load static %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mt-5">
        <div class="alert bg-light text-center" role="alert">
          <img src='{% static "assets/img/success.svg" %}' alt="Success Icon" width="64" height="64">
          <p>Your request has been processed successfully.</p>
          <hr>
          <p class="mb-0">Thank you for submit a request.</p>
        </div>
        <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
        <a href="{% url 'contactus' %}" class="btn btn-primary">Back to info</a>
      </div>
    </div>
  </div>
{% endblock main %}